<%- include('inc/page-header') -%>
<%- include('inc/header') -%>
<%- include('inc/cont/menu-lateral') -%>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <%- include('inc/cont/sub-menu') -%>

    <!-- Main content -->
    <section class="content container-fluid">

        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Lista</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>E-mail</th>
                            <th style="min-width: 75px;">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1.</td>
                            <td>contato@hcode.com.br</td>
                            <td><button type="button" class="btn btn-xs btn-danger btn-delete"><i
                                        class="fa fa-trash"></i> Excluir</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<%- include('inc/page-footer') -%>